window.panel{

    * {
        all: unset;
    }

    .container{
        color: $fg;
        font-size: 15px;
        background-color: rgba($color: $bg, $alpha: $opacity + 0.08);
        border-radius: 7px;
    }

    .item{
        @import './items/items.scss';

        min-width: 250px;
        padding: 10px;

        >.title{
            color: $primary;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 8px;
            border-bottom: 1px solid $bg-alt;
        }
    }

    .menu{
        border: 1.3px solid $primary;
        border-radius: 7px;
        padding: 3px 5px;
        button{
            padding: 7px 0px;
            font-size: 22px;

            label{
                padding: 0 5px;
                border-radius: 3px;
            }

            &:hover, &.active{
                color: $primary;
            }

            &.active label{
                box-shadow: 2px 0px $primary inset;
            }
        }
    }
}