// Workspaces
.workspaces {
    box{
        background-color: rgba($color: $bg-alt, $alpha: 0.8);
        padding: 0 3px;
        border-radius: 10px;
        margin: 4px 0;
    }

    button{
        label{
            padding: 1px 5px;
            margin: 0 5px;
            border-radius: 70px;
            border: 2px solid $fg;
            font-size: 7px;
            transition: all 0.2s;
    
            &.focused{
                background-color: $primary;
                border-color: $primary;
            }
    
            &.occupied{
                border-color: $fg;
            }
    
            &.unoccupied{
                border-width: 0;
                background-color: $disabled;
                margin: 0 7px;
            }
            &.hidden{
                opacity: 0;
            }
        }

        &:hover{
            .occupied{
                border-color: $primary;
            }
            .unoccupied{
                background-color: $primary;
            }
            .hidden{
                opacity: 1;
            }
        }
    }
}