@import "colors/colors.scss";
@import "windows/windows.scss";

window{
    all:unset
}

* {
    font-family: "Symbols Nerd Font", "Noto Sans Mono";
}

tooltip{
    font-size: 13px;
    background-color: rgba($color: $bg, $alpha: $opacity);
    border-radius: 5px;
    *{
        padding: 0;
    }
    // padding: 42px;
}

// Systray
menu{
    background-color: rgba($color: $bg, $alpha: 0.8);
    border: 1px solid $disabled;
    border-radius: 3px;

    menuitem{
        &:hover{
            background-color: $primary;
            color: $bg;
            arrow{
                color: $bg;
            }
        }
        color: $fg;
        margin: 0 1px;
        padding: 4px 6px;


        >label, >box{
            margin: 0 30px;
        }

        arrow{
            -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
            min-height: 16px;
            min-width: 16px;
            margin-left: 10px;
            color: $fg;
        }
    }
}