window.powermenu box{
    *{
        all: unset
    }

    background-color: $bg;
    border-radius: 10px;

    button{
        background-color: rgba($color: $bg-alt, $alpha: 0.4);
        color: $fg;
        margin: 5px;
        padding: 9px 17px;
        font-size: 50px;
        border-radius: 10px;

        &.selected{
            color: $fg-alt;
            background-color: $primary;
        }

        &:active {
            background-color: $disabled;
        }

        @mixin button($className, $color, $padding: false) {
            &.#{$className}{
                &:not(:hover):not(.selected), &:not(.selected){
                    color: $color
                }
                @if $padding {
                    padding: $padding
                }
            }
        }

        @include button(poweroff, #DC322F);

        @include button(reboot, #2ec27e);

        @include button(logout, #707880);

        @include button(lock, #d6af02);// padding: 0 11px;

        @include button(suspend, #C37DB6, 0 13px)
        
    }
}

.powermenu {
    background-color: rgba($color: #000000, $alpha: 0.2);
}