@mixin level($color){
    scale highlight{
        background-color: $color;
    }
    button{
        color: $color;

        &:hover.clickable{
            background-color: $color;
        }
    }
}

window.level{
    * {
        all: unset;
    }

    scale{
        trough{
            min-height: 150px;
            min-width: 34px;
            background-color: $bg;
            border-radius: 15px;
            border: 2px solid $bg-alt;

            highlight{
                min-width: 32px;
                border-radius: 15px;
                background-color: $fg;
            }
        }
    }

    button{
        font-size: 20px;
        border-radius: 100%;
        background-color: rgba($color: $bg, $alpha: 0.8);
        padding: 4px 6px;
        margin: 0 4px;

        &:hover.clickable{
            color: $bg;
            background-color: $fg;
        }
    }

    @import './speaker/speaker.scss';
    @import './microphone/microphone.scss';
    @import './brightness/brightness.scss';
}