.menu{
    background: none;
    border: none;
    label{
        color: $fg-alt;
        font-size: 16px;
        border-radius: 5px;
        padding: 0 6px;
        margin: 4px 0;
        background-color: $primary;
        transition-duration: 0.2s;
        transition-property: all;
    }

    &:hover label{
        color: rgba($color: $fg, $alpha: 0.9)
    }
}