@use "sass:string";
@use "../../style/env";
@use "../../style/util";

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

window.notifications {
    @include util.unsetAll;

    & .Notification {
        border-radius: 11px;
        background-color: env.$bg;
        border: 2px solid env.$bg-alt;

        &.critical {
            border: 1pt solid gtkalpha(env.$red, 0.4);

            .header {
                .app-name {
                    color: gtkalpha(env.$red, 0.8);
                }

                .app-icon {
                    color: gtkalpha(env.$red, 0.6);
                }
            }
        }

        .header {
            padding: 0.5rem;
            color: gtkalpha(env.$fg, 0.7);

            .app-icon {
                margin: 0 0.4rem;
            }

            .app-name {
                margin-right: 0.3rem;
                font-weight: bold;

                &:first-child {
                    margin-left: 0.4rem;
                }
            }

            .time {
                margin: 0 0.4rem;
            }

            button {
                padding: 0.2rem;
                min-width: 0;
                min-height: 0;
            }
        }

        separator {
            margin: 0 0.4rem;
            background-color: gtkalpha(env.$fg, 0.1);
        }

        .content {
            margin: 1rem;
            margin-top: 0.5rem;

            .summary {
                font-size: 1.2em;
                color: env.$fg;
            }

            .body {
                color: gtkalpha(env.$fg, 0.8);
            }

            .image {
                border: 1px solid gtkalpha(env.$fg, 0.02);
                margin-right: 0.5rem;
                border-radius: 9px;
                min-width: 100px;
                min-height: 100px;
                background-size: cover;
                background-position: center;
            }
        }

        .actions {
            margin: 1rem;

            * {
                padding: 4px;
                background-color: env.$bg-alt;
                margin: 0 0.3rem;
                border-radius: env.$border-radius;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}