@mixin notifications{
    .notification {
        > box {
            border-radius: 7px;
            padding: 8px;
            border: 1px solid $disabled;
            background-color: rgba($color: $bg, $alpha: $opacity + 0.05);
            min-width: 230px;

            .icon {
                min-width: 48px;
                min-height: 48px;
                margin-right: 5px;
                
                image {
                    font-size: 38px;
                    margin: 5px;
                    color: $fg;
                }
        
                box {
                    margin: 5px;
                    min-width: 48px;
                    min-height: 48px;
                    border-radius: 7px;
                }
            }

            .title {
                color: $fg;
                font-weight: bold;
            }

            .body {
                color: $disabled;
            }

            .actions .action-button {
                margin: 0 .4em;
                margin-top: .8em;
                border-radius: 7px;
                padding: 4px 2px;
                background-color: $bg-alt;
            }
        }

        &.critical > box {
            border: 1px solid $fg;
            background-color: $bg;
        }
    } 
}

window.notifications {
    *{
        all: unset;
    }

    @include notifications;
}