@use "../../../../style/env";

@mixin windowinfo {
    .windowInfo {
        image {
            margin-right: 7px;
            margin-bottom: 1px;
        }

        label {
            border-bottom: 2px solid env.$primary;
            padding: 2px 1px;
            transition: all 0.6s;
        }

        &:hover label {
            border-width: 0px;
            margin-bottom: 2px;
        }
    }
}