button.powerprofile{
    color: $bg;
    background-color: $primary;
    padding: 3px 4px;
    border-radius: 7px;
    &:hover{
        color: $fg;
    }
}

scale{
    value{
        font-size: 0;
    }

    marks mark indicator{
        all: unset;
        color: white;
        min-width: 10px;
        min-height: 10px;
    }

    trough{
        background-color: $disabled;
        border-radius: 7px;
        // border: 2px solid $bg-alt;
        border: none;

        highlight{
            min-height: 8px;
            border-radius: 7px;
            background-color: $primary;
        }
        
        slider{
            margin: -14px 0 -10px 0;
            min-height: 8px;
            min-width: 5px;
            border-radius: 7px;
            background-color: $fg;
        }
    }
}