@use "../../style/env";
@use "../../style/util";
@use "../../style/global" as *;
@use "modules/modules" as *;

window.bar {
    @include util.unsetAll;
    & {
        color: env.$fg;
        font-size: 15px; // # TODO centralize
        background-color: rgba($color: env.$bg, $alpha: env.$opacity);
        padding: 0 13px;
        border-radius: env.$border-radius;
        min-height: 34px;
        @include global;
        @include modules;
    }
}