window.bar > box {
    *{
        all:unset;
    }

    @import './modules/modules.scss';

    color: $fg;
    font-size: 15px;
    background-color: rgba($color: $bg, $alpha: $opacity);
    padding: 0 6px;
    border-radius: 7px;
    min-height: 34px;
}