.box{
    .systemtray {
        button {
            padding: 4px;
            border-radius: 50%;
            &:hover {
                background-color: rgba($color: $primary, $alpha: 0.80);
            }
            // padding: 5px 3px;
            // &:hover{
            //     box-shadow: 0 -3px $primary inset;
            //     // padding: 6px;
            // }
        }
    }
}


