@use "../../../../style/env";

@mixin powermenu {
    .powermenu {
        image {
            color: env.$primary;
            transition: transform 0.3s ease-in-out;
            border-radius: env.$border-radius;
        }
        &:hover image {
            transform: rotate(-360deg);
        }
    }
}