.stopped{
    .separator{
        margin: 0 -4px;
    }

    .selector{
        all: unset;

        stack{
            label{
                font-size: 15px;
                color: darken($fg, 40%);
            }
        }

        .main{
            label{
                color: $fg;
            }
        }

        &:hover{
            label{
                color: darken($primary, 20%);
                &.header{
                    color: $fg;
                }
            }
            .main{
                label{
                    color: $primary;
                }
            }
        }
    }
}