.network{
    // Wifi
    .wifi {
        label{
            color: $primary;
            font-size: 16px;
            margin-bottom: 2px;
        }
        spinner{
            color: $primary;
            animation: 0.8s infinite spin linear;
            -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
        }
    }

    // Ethernet
    .ethernet label{
        color: $secondary;
        margin-right: 14px;
    }
}