.windowInfo{
    image, .bell label{
        padding: 0 7px;
    }

    .title{
        border-bottom: 2px solid $primary;
        padding: 0 1px;
        margin: 4px 0;
        transition-duration: 0.6s;
        transition-property: all;
    }

    &:hover label{
        border-width: 0px;
        padding-bottom: 2px;
    }

    > box{
        margin-right: 7px
    }
}
