.settings{
    >.header {
        margin-top: 13px;
        border: 1px solid $disabled;
        border-radius: 7px;
        padding: 6px;
        background-color: $bg;

        button{
            font-size: 20px;
            padding: 5px;
            border-radius: 7px;
            border: 1.2px solid $disabled;
            transition: all 0.2s;

            &:active, &:checked{
                background-color: $primary;
                color: black;
                border-color: $primary;
                // &:hover{
                //     color: $fg;
                // }
            }
            &:not(:active):not(:checked):hover{
                color: $primary;
                border-color: $primary;
            }
        }
    }
    >.arrow{
        font-size: 17px;
        border-radius: 7px;
        &:hover{
            background-color: $bg-alt;
        }
        &:active{
            color: $bg;
            background-color: $primary;
        }
    }
    .section{
        margin-bottom: 13px;
        border-bottom: 1px solid $disabled;
        padding-bottom: 17px;

        .title{
            font-weight: bold;
        }

        @import './sections/hour_lang/hour_lang.scss';
    }
}