.clock{
    box.content{
        @import './stopped/stopped.scss';
        @import './playing/playing.scss';
    
        padding: 8px 15px;
        background-color: $bg;
        border-radius: 7px;
        border: 2px solid $bg-alt;
    
        button{
            background-color: $bg-alt;
            color: $fg;
            padding: 8px 10px;
            border-radius: 7px;
            &:hover{
                color: $bg;
                background-color: $primary;
            }
        }
    }

    .overlay{
        color: $primary;
        margin: 5px;
        font-size: 18px;
    }
}