@use "../../../../style/env";
@use "wifi/wifi" as *;
@use "ethernet/ethernet" as *;
@use "battery/battery" as *;
@use "audio/speaker/speaker" as *;
@use "audio/microphone/microphone" as *;
@use "bluetooth/bluetooth" as *;
@use "idle/idle" as *;

@mixin collapsed {
    .collapsed {
        color: env.$fg;
        transition: all 0.2s;

        >button {
            padding: 0px 2px;
        }

        &:hover {
            color: env.$primary;
        }

        >popover {

            >arrow,
            >contents {
                color: env.$fg;
                padding: 6px;
                border-radius: env.$border-radius;
                border: 1px solid env.$bg-alt;
                background-color: rgba($color: env.$bg, $alpha: env.$opacity);

                .item {
                    image {
                        padding: 6px;
                        border-radius: env.$border-radius;

                        &:hover {
                            color: env.$bg;
                            background-color: rgba($color: env.$primary, $alpha: 0.80);
                        }
                    }
                }
            }

            >arrow {
                min-width: 16px;
                min-height: 16px;
            }
        }
    }
}

@mixin trays {
    .trays {
        margin-right: 1px;

        @include wifi;
        @include ethernet;
        @include battery;
        @include speaker;
        @include microphone;
        @include bluetooth;
        @include idle;

        .visible .tray {
            margin-left: 12px;
        }

        @include collapsed;
    }
}